<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div id="section-one">
        <p id="categories">
            Categories: <a href="">Coding courses for beginners</a> | <a href="">Web Development Courses</a> | <a href="">Data Science & Machine Learning Courses</a> | <a href="">Competitive Programming Course</a> | <a href="">Android App Development Courses</a> | <a href="">Courses for interview preparation</a>
        </p>
        <p id="popular-courses">
            Popular Courses: <a href="">C++ Foundation with Data Structures</a> | <a href="">Java Foundation with Data Structures</a> | <a href="">Python Foundation with Data Structures</a> | <a href="">Competitive Programming</a> | <a href="">Full Stack Web Development</a>
        </p>
        <p id="career-tracks">
            Career Tracks: <a href="">Ninja Competitive Programmer Track</a> | <a href="">Ninja Android Developer Career Track</a> | <a href="">Ninja Web Developer Career Track - NodeJS & ReactJs</a> | <a href="">Ninja Web Developer Career Track - NodeJS</a> | <a href="">Ninja Data Scientist Career Track</a> | <a href="">Ninja Machine Learning Engineer Career Track</a>
        </p>
    </div>
    <div id="section-two">
        <div id="part-one">
            <div id="inner-part-one">
                <div id="footer-codestudio-logo">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/codestudio-by-CN-white-logo.svg" alt="codestudio-logo">
                </div>
            </div>
            <div id="inner-part-two">
                <div class="footer-list" id="footer-list-one">
                    <h4>
                        CODING NINJAS
                    </h4>
                    <ul>
                        <a href="">
                            <li>About Us</li>
                        </a>
                        <a href="">
                            <li>Press</li>
                        </a>
                        <a href="">
                            <li>Privay Policy</li>
                        </a>
                        <a href="">
                            <li>Terms & Conditions</li>
                        </a>
                        <a href="">
                            <li>Bug Bounty</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-list" id="footer-list-two">
                    <h4>
                        PRODUCTS
                    </h4>
                    <ul>
                        <a href="">
                            <li>Problem Listing</li>
                        </a>
                        <a href="">
                            <li>Interview Prepration</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-list" id="footer-list-two">
                    <h4>
                        COMMUNITY
                    </h4>
                    <ul>
                        <a href="">
                            <li>Codestudio</li>
                        </a>
                        <a href="">
                            <li>Blog</li>
                        </a>
                        <a href="">
                            <li>Events</li>
                        </a>
                        <a href="">
                            <li>Campus Ninja</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
        <div id="part-two">
            <div id="text">FOLLOW US ON</div>
            <div id="social-media">
                <a href="">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/instagram-outlined.svg" alt="instagram">
                </a>
                <a href="">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/twitter-outlined.svg" alt="twitter">
                </a>
                <a href="">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/youtube-outlined.svg" alt="youtube">
                </a>
                <a href="">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/facebook-outlined.svg" alt="facebook">
                </a>
                <a href="">
                    <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/linkedin-outlined.svg" alt="linkedin">
                </a>
            </div>
        </div>
    </div>
    <div id="section-three">
        <div id="part-one">
            <p>We accept payments using:</p>
            <div id="payment-options">
                <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/visa.png" alt="VISA">
                <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/paypal.png" alt="PAYPAL">
                <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/upi.png" alt="UPI">
                <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/no-cost-emi.svg" alt="NO COST EMI">
            </div>
        </div>
        <div id="part-two">
            <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/images/safe-payment.png" alt="Secure Payment">
            <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/ssl-secured.svg" alt="SSL Encryption">
            <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/razorpay.png" alt="Razorpay">
        </div>
    </div>
</footer>