<link rel="stylesheet" href="/css/header.css">
<header id="default">
    <div id="part-one">
        <a href="" class="logo">
            <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/codestudio-logo.svg" alt="code studio logo">
        </a>
        <nav>
            <ul class="navigation">
                <a href="">
                    <li class="menu-items">
                        Interview Experience
                    </li>
                </a>
                <a href="">
                    <li class="menu-items">
                        Practice Interview Problems
                    </li>
                </a>
                <a href="">
                    <li class="menu-items" id="top-problem-list">
                        <div>
                            <span>Top Problem List&nbsp;&nbsp;</span>
                            <img src="https://files.codingninjas.in/angle-down-solid-5030.svg" alt="Down Arrow">
                        </div>
                        <div id="dropdown-menu">
                            <ul>
                                <li>Top Graphs Interview Questions</li>
                                <li>Top Trees Interview Questions</li>
                                <li>Top Uber Coding Interview Questions</li>
                                <li>Top Apple Coding Interview Questions</li>
                            </ul>
                            <ul>
                                <li>Top Graphs Interview Questions</li>
                                <li>Top Trees Interview Questions</li>
                                <li>Top Uber Coding Interview Questions</li>
                                <li>Top Apple Coding Interview Questions</li>
                            </ul>
                        </div>
                    </li>
                </a>
                <a href="">
                    <li class="menu-items">
                        Resources
                    </li>
                </a>
                <a href="">
                    <li class="menu-items">
                        Guided Path&nbsp;
                        <span id="new-launch">
                            New Launch
                        </span>
                    </li>
                </a>
            </ul>
        </nav>
    </div>
    <div id="part-two">
        <div id="share-knowledge-button">
            Share Knowledge
        </div>
        <div id="user-avatar">
            <img src="https://ninjasfiles.s3.amazonaws.com/profile457775a363fd134935316cadaa8381dcc32348.jpeg" alt="User Avatar">
        </div>
    </div>
</header>
<header id="responsive">
    <div id="upper">
        <div id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <a href="" class="logo">
            <img src="https://s3-ap-southeast-1.amazonaws.com/codestudio.codingninjas.com/codestudio/assets/icons/codestudio-logo.svg" alt="code studio logo">
        </a>
    </div>
    <section id="content">
        <ul id="navigation">
            <a href=""><li class="list-item">Interview Prepration</li></a>
            <a href=""><li class="list-item">Practice Interview Problems</li></a>
            <a href=""><li class="list-item">Top Problem List</li></a>
            <a href=""><li class="list-item">Resources</li></a>
            <a href=""><li class="list-item">Guided Path&nbsp;<span id="new-launch">New Launch</span></li></a>
        </ul>
        <div id="lower">
            <div id="share-knowledge">
                <h3>SHARE KNOWLEDGE</h3>
            </div>
            <div id="user">
                <div>
                    <h6>Logged in as...</h6>
                </div>
                <div id="avatar">
                    <img src="https://ninjasfiles.s3.amazonaws.com/profile457775a363fd134935316cadaa8381dcc32348.jpeg" alt="User Avatar">
                    <h3>Akshay Vats</h3>
                </div>
                <div>
                    <h6>Using Timezone: Asia - Calcutta</h6>
                </div>
                <div id="logout">Logout</div>
            </div>
        </div>
    </section>
</header>
<script src="/scripts/header.js"></script>